{% extends 'trainer/trainerhome_index.html' %}

{% block body %}

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form action="/trainer/trainer_addchallenge/" method="post" enctype="multipart/form-data">
        {% csrf_token %}

    <table class="table table-bordered">
  <tr>

    <td style="color: white">Title</td>
    <td><label for="select"></label>
      <label for="textfield"></label>
      <input type="text" required name="title" id="textfield" /></td>
  </tr>
  <tr>
    <td style="color: white">Video File</td>
    <td style="color: white"><label for="fileField"></label>
      <input type="file" name="video_file" required id="fileField" /></td>
  </tr>
  <tr>
    <td align="center"colspan="2"><input type="submit" name="button" id="button"  class="btn btn-info" value="Add" /></td>

  </tr>
</table>
</form>


        </div>
    </div>
</div>
</body>
{% endblock %}
