<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<a href="/trainer/trainer_viewprofile/">View profile</a><br/>
<a href="/trainer/trainer_addposture/">Add posture video</a><br/>
<a href="/trainer/trainer_viewposture">View posture video</a><br/>
<a href="/trainer/trainer_viewuser/">View user</a><br/>
<a href="/trainer/trainer_adddietplan/">Provide diet plan</a><br/>
<a href="/trainer/trainer_viewdietplan/">view diet plan</a><br/>
{#<a href="/trainer/trainer_querychat/">Respond to queries</a><br/>#}
<a href="/trainer/trainer_changepwd/">Change password</a><br/>
    <a href="/trainer/trainer_logout/">logout</a><br/>








</form>
</body>
</html>
