<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
<a href="/myapp/admin_addtrainers/">Add trainer</a><br />
<a href="/myapp/admin_viewtrainers/">View  trainer</a><br/ >
<a href="/myapp/admin_viewuser/">View users</a><br />
<a href="/myapp/admin_viewpayment/">View payment</a><br/ >
<a href="/myapp/admin_addcategory/">Add category</a><br/ >
<a href="/myapp/admin_viewcategory/">View category</a><br/ >
<a href="/myapp/admin_viewposturevideo/">View posture video</a><br/ >
<a href="/myapp/admin_viewusercomplaint/">View user complaint </a><br/ >
<a href="/myapp/admin_viewfeedback/">View feedback</a><br/ >
<a href="/myapp/admin_changepwd/">Change password</a><br/>
    <a href="/myapp/admin_logout/">Logout</a><br/>









</form>
</body>
</html>
