{% extends 'admin/home_index.html' %}

{% block body %}
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
<form action="/adminfitness/admin_editcategory/{{data.id}}" method="post">
        {% csrf_token %}

    <table class="table table-bordered">
         <input type="hidden" name="categoryname" id="textfield" value="{{ data.id }}" />

  <tr>
    <td style="color: white">
      Category name</td>
    <td style="color: white">
      <input type="text" required name="textfield" id="textfield2"  required class="form-control" value="{{ data.categoryname }}" /></td>
  </tr>
  <tr>
    <td align="center"colspan="2"><input type="submit" name="button" id="button" value="Update" class="btn btn-success" /></td>
   
  </tr>
</table>
</form>

        </div>
    </div>
</div>
</body>
{% endblock %}