{% extends 'admin/home_index.html' %}

{% block body %}
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
<form id="form1" name="form1" method="post" action="/myapp/admin_viewpayment_post/#hii">
{% csrf_token %}
   <table  class="pull-left"  style="color: white">

        <tr>
            <td style="color: white">From date</td>
            <td style="color: white"><input type="date"name="from"  class="form-control" required></td>
            <td style="color: white">To date</td>
            <td style="color: white"><input type="date"name="to"  class="form-control" required></td>
            <td style="color: white"><input type="submit"name="button" value="search" class="btn btn-success"></td>
        </tr>
    </table>
<br>
<br>
<br>
    <table class="table table-bordered">
    <tr style="background-color: #0c5460">
      <td style="color: white">Sl.no</td>
       <td style="color: white">Date</td>
        <td style="color: white">Username</td>
         <td style="color: white">Status</td>
         
    </tr>
    {% for i in data %}
    <tr>
       <td style="color: white">{{ forloop.counter }}</td>
       <td style="color: white">{{ i.date }}</td>
        <td style="color: white">{{ i.USER.name }}</td>
         <td style="color: white">{{ i.status }}</td>
    </tr>
    {% endfor %}
  </table>
</form>

        </div>
    </div>
</div>
</body>
{% endblock %}
