{#{% extends 'user/userhome_index.html' %}#}
{##}
{#{% block body %}#}
{#<body>#}
{#<form action="/myapp/forget_password_post/" method="post">#}
{#    {% csrf_token %}#}
{#<table  class="table table-bordered">#}
{#  <tr>#}
{#    <td  style="color: white">Email</td>#}
{#    <td><label for="textfield"></label>#}
{#      <input type="text" name="textfield" id="textfield" /></td>#}
{#  </tr>#}
{#  <tr align="center">#}
{##}
{#    <td colspan="2"><label for="textfield2"></label>#}
{#      <input type="submit" name="textfield2" id="textfield2" class="btn btn-success" /></td>#}
{#  </tr>#}
{#</table>#}
{##}
{#</form>#}
{#</body>#}
{#{% endblock %}#}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Gathering Log In form Responsive Widget Template :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="/static/logins/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->
    <link rel="stylesheet" href="/static/logins/css/font-awesome.min.css" type="text/css" media="all">

</head>

<body>
    <div class="w3l-signinform">
        <!-- container -->
        <div class="wrapper">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info">
{#                    <h1>Welcome Back</h1>#}
{#                    <p class="sub-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>#}
                    <h2>Reset password</h2>
                    <form action="/forgotpassword/" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="text" placeholder="Email" name="email" required="">
                        </div>
                        <div class="input-group two-groop">
                    </div>

                        <button class="btn btn-primary btn-block" type="submit">Reset</button>
                    </form>

             </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->
        <!-- footer -->
        <div class="footer">
{#            <p>&copy; 2021 Gathering Log In form. All Rights Reserved | Design by <a href="https://w3layouts.com/"#}
{#                    target="blank">W3layouts</a></p>#}
        </div>
        <!-- footer -->
    </div>

</body>

</html>