{% extends 'user/userhome_index.html' %}

{% block body %}

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">

<form id="form1" name="form1" method="post" action="/client/user_changepwd_post/">
        {% csrf_token %}

    <table class="table table-bordered">
    <tr>
      <td style="color: white">Old password</td>
      <td>
      <input type="password" name="textfield" id="textfield" class="form-control" required /></td>
    </tr>
    <tr>
      <td style="color: white">New password</td>
      <td>
      <input type="password" name="textfield2" id="textfield2" class="form-control" pattern=".{8,}" title="Eight or more characters" required /></td>
    </tr>
    <tr>
      <td style="color: white">Confirm password</td>
      <td>
      <input type="password" name="textfield3" id="textfield3" class="form-control" pattern=".{8,}" title="Eight or more characters" required/></td>
    </tr>
    <tr>
      <td align="center"colspan="2"><input type="submit" name="button" id="button" value="Submit" class="btn-success" /></td>
    </tr>
  </table>
</form>
   </div>
    </div>
</div>
</body>
{% endblock %}
