<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">

<a href="/myapp/user_viewprofile/">View profile</a><br/>
<a href="/myapp/user_view_trainer/">View Trainer</a><br/>
<a href="/myapp/user_viewposture/">View posture</a><br/>
<a href="/myapp/user_payment/">Add payment</a><br/>
<a href="/myapp/user_viewdietplan/">View diet plan</a><br/>
    <a href="/myapp/user_sentcomplaint/">Sent complaint</a><br/>
<a href="/myapp/user_viewcomplaintreply/">View complaint</a><br/>
<a href="/myapp/user_sentfeedback/">sent feedback</a><br/>
<a href="/myapp/user_sendquery/">Raise query</a><br/>
<a href="/myapp/user_changepwd/">Change password</a><br/>
<a href="/myapp/user_logout/">Logout</a><br/>









</form>
</body>
</html>
